/* user defined custom styles or overrides only */

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.catalog-search-container #search-keywords {
  border: 1px solid var(--warning-color) !important;
}

.form-control:focus {
  border-color: var(--warning-color);
  box-shadow: 0 0 0 .2rem rgba(238, 255, 0, 0.25);
}

.wb-library-search--browse a {
  color: var(--warning-color);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffd659;
}

.site-header .navbar-light .navbar-nav .nav-link.active {
  color: var(--warning-color);
}

.site-header {
  border-bottom: 1px solid var(--warning-color);
}

@media ( max-width: 800px ) {
  .footer-element {
    margin: auto;
  }
}
